@use '@angular/material' as mat;
@use "variables" as v;

@include mat.core();

$my-theme: mat.define-light-theme((
  color: (
    primary: v.$primary-palette,
    accent: v.$accent-palette,
  )
));

@include mat.all-component-themes($my-theme);

.mat-table {

  th.mat-header-cell {
    text-align: center;
    font-weight: bold;
  }

  td.mat-cell {
    text-align: center;
  }
}

.mat-dialog-container {
  .mat-dialog-title {
    background: v.$primary-color;
    margin: -24px -24px 24px -24px;
    text-align: center;
    color: white;
    line-height: 2;
  }
}
