@use '@angular/material' as mat;

:host {
  display: block;
  max-width: 720px;
}

form {
  gap: 0 8px;
}

.save {
  width: 100%;
}

.error {
  color: mat.get-color-from-palette(mat.$red-palette, 500);
  font-weight: bold;
}
